<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
  <style>
      .barre{
        text-decoration: line-through
      }
  </style>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12" ng-controller="MonController as ctrl">
        
    
          <button ng-click="ctrl.li = 'un.html'" class="btn btn-primary">un</button>
           <button ng-click="ctrl.li = 'deux.html'" class="btn btn-primary">deux</button>
           <ng-include src="ctrl.li"></ng-include>
      </div>
    </div>
  </div>


  <script src="build.js"></script>
</body>

</html>