<div class="row">
  <div class="col-md-6">
    <h4>toppings</h4>
  <div dta-drop="$ctrl.droppedAdd()" class="well">
    <ul  class="list-group">
      <li class="list-group-item" ng-repeat="topping in $ctrl.toppings track by $index">
        <a ng-click="$ctrl.removeTopping($index)">{{topping}}</a>
      </li>
    </ul>
  </div>
    
  </div>
  <div class="col-md-6">
    <h4>available toppings</h4>
    <ul class="list-group">
      <li draggable="true" dta-drag="$ctrl.draggedTopping = topping" class="list-group-item sourceTopping" ng-repeat="(topping, value) in $ctrl.allToppings track by $index">
        <a href ng-click="$ctrl.addTopping(topping)">{{topping}}</a>
      </li>
    </ul>
  </div>
  <pre>
    {{ $ctrl.toppings }}
  </pre>
</div> 