
<h3>Liste des pizzas</h3>
  <div style="text-align:center" ng-if="!$ctrl.pizzas">
  <img src="images/pacman.gif">
</div>
<div ng-if="$ctrl.pizzas">
  <input ng-model="$ctrl.query" type="text" class="form-control">
  <table class="table">
    <thead>
      <tr>
        <th>NOM <a class ="glyphicon glyphicon-sort-by-alphabet" ng-click="$ctrl.predicate = 'name'; reverse= !reverse"></th>
        <th>INGREDIENTS <a class ="glyphicon glyphicon-sort-by-order" ng-click="$ctrl.predicate = '_toppingsLength'; reverse= !reverse"></th>
        <th>STATUT <a class ="glyphicon glyphicon-sort-by-attributes" ng-click="$ctrl.predicate = 'status'; reverse= !reverse"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pizza in $ctrl.pizzas | orderBy:$ctrl.predicate:reverse |  filter:$ctrl.keep() track by $index">
        <td><a href="#/pizza/{{ pizza.id }}"> {{ pizza.name }}</a></td>
        <td> {{pizza._toppings}} </td>
        <td>
          <button ng-click="$ctrl.cookPizza(pizza)" ng-if="!pizza.status" class="btn">cook me</button>
          <span ng-if="pizza.status">CUITE</span>
        </td>
        <td>
          <button ng-click="$ctrl.deletePizza(pizza.id)" type="button" class="close"><span>&times;</span></button>
        </td>
      </tr>
    </tbody>
  </table>
  <button ng-click="$ctrl.addPizza()" class="btn btn-primary">
    Nouvelle Pizza
  </button>
  <button ng-click="$ctrl.cookPizzas()" class="btn">
    Cuire les pizza
  </button>
</div>